a {
  color: #f4fd86;
  text-decoration: underline;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 24px;
  background-color: #c3d3f9;
  color: #1e1e1e;
  text-align: center;
}

button {
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #f4fd86;
  color: #1e1e1e;
  cursor: pointer;
}

button:hover {
  background-color: #e6f080;
}

div {
  min-width: 432px;
  max-width: 40%;
  margin: 24px auto;
}

footer {
  margin-top: 48px;
  font-size: 12px;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 72px;
  line-height: 80%;
}

h2 {
  font-family: "Instrument Serif";
  font-size: 28px;
  font-weight: 400;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

hr {
  border: none;
  height: 1px;
  background-color: #1e1e1e;
  margin: 32px 40%;
}

input {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 320px;
}

p {
  font-size: 16px;
  text-align: justify;
}
.response-container {
  font-style: italic;
  background-color: #f4fd86;
  padding: 12px;
  border-radius: 4px;
}